<%= form_with(model: dogrun) do |form| %>
  <% if dogrun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dogrun.errors.count, "error") %> コメントは保存できませんでした。</h2>

      <ul>
        <% dogrun.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :コメント %>
    <%= form.text_field :dogrun_name %>
  </div>

  <div class="actions">
    <%= form.submit "保存" %>
  </div>
<% end %>
