<%= form_with(model: dog) do |form| %>
 

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :onaka %>
    <%= form.number_field :onaka %>
  </div>

  <div class="field">
    <%= form.label :kigen %>
    <%= form.number_field :kigen %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :pr %>
    <%= form.text_field :pr %>
  </div>

  <div class="field">
    <%= form.label :yobip %>
    <%= form.number_field :yobip %>
  </div>

  <div class="field">
    <%= form.label :kaminoku %>
    <%= form.text_field :kaminoku %>
  </div>

  <div class="field">
    <%= form.label :nakanoku %>
    <%= form.text_field :nakanoku %>
  </div>

  <div class="field">
    <%= form.label :simonoku %>
    <%= form.text_field :simonoku %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
