<p id="notice"><%= notice %></p>
<div class="ikku">
 <% if (@time >= "00" and @time <= "05") || ( @time >= "22" and @time <= "24")%>
  <h5>睡眠中。。。</h5><br>
  <h6>Zzz..</h6>
 <% else %>
<h5>やよっちの一句</h5><br>
<table class="kaminoku">
<tbody>
    <% @randamdog.each do |dog| %>

      <tr>
        <td><%= dog.kaminoku %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<table class="nakanoku">
<tbody>
    <% @randamdog3.each do |dog| %>
      <tr>
        <td><%= dog.nakanoku_pig %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<table class="simonoku">
<tbody>
    <% @randamdog2.each do |dog| %>
      <tr>
        <td><%= dog.simonoku_pen%></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>

</div>
<!--<%= @time %>
<%= @date %>
<div class="bgi">
 <% if (@date >= "16" and @time <= "18") || (@date >= "24" and @time <= "27") %>
 <p>雨</p>
  <div class="img_rain_summer"></div>
 <% elsif  %>
  <p>晴れ</p>
  <div class="img_sunny_summer"></div>
<% end %>
 <div class = "room-show-image">
 </div>-->
 <br>
  <div class="imgcom">
        <% if @time >= "00" and @time <= "05" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293640741_5298163583610455_3030325070444634225_n.jpg?stp=cp1_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=xv4ibDF2cc8AX9H0hg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_B14tNEe5JDpaPNX-fuyPFAkXsrAR760OWMZdS02-a9g&oe=62DA7D6A" , class:'fluffy' %>
          <p class="dogcom">寝てる</p>
        <% elsif @time == "06" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293454745_5298164980276982_8551386858655934760_n.jpg?stp=cp1_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=6Id8qBTtWDsAX-0IPY_&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8Tfer8lEQ2PnEcWd5kyBUDjjIsYGQ69Mmv9lqhBUQ95A&oe=62D9E5CD" , class:'fluffy' %>
          <p class="dogcom">起きた！</p>
        <% elsif @time == "07" %>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293502151_5298163660277114_417593753533662794_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=TPnwA0UO630AX-Rb-Cn&_nc_ht=scontent.fkix2-1.fna&oh=00_AT-mSQcL89GyXdFTTDcUccgwz7WV8KWrRBlrDSM3qIVSbw&oe=62DB9D45" , class:'fluffy' %>
           <p>おはよう！</p>
        <% elsif @time == "08" %>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293457478_5298165120276968_2124489922723742630_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=kWVimHkfukYAX8koroB&_nc_ht=scontent.fkix2-1.fna&oh=00_AT-WpYKf0gnDb-Z1lLKmZghCkd8F_CZYc2f915od6_TqdQ&oe=62DAFDD9" , class:'fluffy' %>
          <p>今日も楽しい！</p>
        <% elsif @time == "09" %>
           <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294791071_5298162896943857_5603755217882512849_n.jpg?stp=cp1_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Fz1dqjq9n0oAX9vbY7U&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9wSpfabinvnWdySWk2MyzP0_bcdlhGmh4NIQd51VNxBw&oe=62DABCB7" , class:'fluffy' %>
           <p>お腹すいた！</p>
        <% elsif @time == "10" %>
           <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293467985_5298164313610382_2956916912489281578_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=DSMjDaehyDkAX923fQQ&_nc_ht=scontent.fkix2-1.fna&oh=00_AT-QFtRmIzkTo6Qx_YpPaMuGf0s_Pz5ig_xe7zPR4D7Djw&oe=62DA3E05" , class:'fluffy' %>
            <p>あそぼおー！</p>
       <% elsif @time == "11" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293622443_5298163576943789_5125077285342897789_n.jpg?stp=cp1_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=pQLVPR74r8AAX-Dj43A&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-zalZJ_R2HwNsrq7PyOowR6Uo_962hq2j-y4oa2demgA&oe=62DB94CE" , class:'fluffy' %>
          <p>ちゃっぷる！</p>
        <% elsif @time == "12" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293536084_5298165106943636_6085645538829929035_n.jpg?stp=cp1_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=fC_bHqYehYYAX_1iO11&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_w8VvoptdAwindQTkYdMoAe38o2Dv0SrMkIHgTtJpQjQ&oe=62DB0306" , class:'fluffy' %>
          <p>ウェイ！</p>
        <% elsif @time == "13" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/293497097_5298163770277103_7965761742036258224_n.jpg?stp=cp1_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=vZhN5ceIk98AX_wtV5p&_nc_ht=scontent.fkix2-2.fna&oh=00_AT_fo2bP-IKVyySITh5IEzCvcfd-QSTCODWpfGv1JuqnmQ&oe=62D9F2C6" , class:'fluffy' %>
          <p>蒸すね</p>
         <% elsif @time == "14" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294635217_5298161543610659_2915371263868299034_n.jpg?stp=cp1_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=EbxULcgvo_sAX-JUCMR&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9aAIuKbUGJ-ivZPnObkiwSM8WOHVbyz6jhmPuXvsTy8g&oe=62DAC755" , class:'fluffy' %>
          <p>お昼寝したい</p>
        <% elsif @time == "15" %>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/294762835_5298163186943828_835320293909070214_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=LymNJxBGZt4AX-hmFvr&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent.fkix2-1.fna&oh=00_AT9CNqR_e6uLrvBZeuqcN-H_7CT-OHPiDkFrRVmp3Jz6GA&oe=62DB796E" , class:'fluffy' %>
          <p>散歩したい</p>
        <% elsif @time == "16" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294707589_5298162886943858_2093546890997747945_n.jpg?stp=cp1_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=pjw5RTvL5IYAX9_T7dc&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8fGJi9_2BK9AOcGHfohsnNBOwkNh2eYPWLBn0xMhvOjQ&oe=62DB7180" , class:'fluffy' %>
          <p>もうこんな時間</p>
        <% elsif @time == "17" %>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293464712_5298164653610348_2716336686569037748_n.jpg?stp=cp1_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=59HpmP9gV3gAX_tluIr&_nc_ht=scontent.fkix2-1.fna&oh=00_AT-pV-R53x96_6xsKS0pOgEU0KQo4aLrQvRdVBQbfVLuKg&oe=62DBA0E1" , class:'fluffy' %>
          <p>お腹すいてきた</p>
        <% elsif @time == "18" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/293554660_5298165010276979_161028806517491684_n.jpg?stp=cp1_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=06D33BSXYSUAX9B9J8Z&_nc_ht=scontent.fkix2-2.fna&oh=00_AT8dO2g6D22F7qgJ8hXWQADLRycUYlIDw39ZhrfilRIDaQ&oe=62DA666E" , class:'fluffy' %>
          <p>誰がカレーパンやねん</p>
        <% elsif @time == "19" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293552549_5298163663610447_2676794087781921331_n.jpg?stp=cp1_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=-CdIOCry1cEAX9IcpOM&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8DSRKdzuIdDPneBeoFkWnwe95zVQJ2AYw7ttaQdYjfow&oe=62DBC3B6" , class:'fluffy' %>
          <p>そろそろまち帰ってくる</p>
        <% elsif @time == "20" %>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293747619_5298163773610436_898610956087283432_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Z6Q_qNFa848AX8y_a2r&_nc_oc=AQlE0UvmrYXootrlnVWBOkn2pbf0An5_DKCcsdrk_yBA3eEs0Azowo5-4ivDMx2GQgsMPKlogg8J5iyllWZzG4lK&_nc_ht=scontent.fkix2-1.fna&oh=00_AT_aCBqxXCZv6HNPP6FcNySbSVx0662xa14SYWyKFFhWig&oe=62D9E796" , class:'fluffy' %>
          <p>今日のテレビは、、と</p>
        <% elsif @time == "21" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293472737_5298163996943747_7363901824361396943_n.jpg?stp=cp1_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=0kV6Ont2xXEAX9ihNQ-&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-ciOE0ed1XgDn5ePyw7DNdP0AWhr-j4LMH8Kl0uFl3pw&oe=62DA8F01" , class:'fluffy' %>
          <p>眠たくなってきた。</p>
        <% elsif @time >= "22" and @time <= "24" %>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293806424_5298164056943741_8683292550646853939_n.jpg?stp=cp1_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=DPDnssd0Xy8AX8KtQYU&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9VfFeJCMjGkA3-wTEXK8F2lmQENgzMsTThqeMzgEDm1g&oe=62DB9636" , class:'fluffy' %>
           <p>おやすみ〜</p>
        <% else %>         
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293640741_5298163583610455_3030325070444634225_n.jpg?stp=cp1_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=xv4ibDF2cc8AX9H0hg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_B14tNEe5JDpaPNX-fuyPFAkXsrAR760OWMZdS02-a9g&oe=62DA7D6A" , class:'fluffy' %>
          <p>意外な答えだね</p>
        <% end %>      
</div>
 
<!--<% @dogs.each do |dog| %>

 <%= link_to '編集', edit_dog_path(dog) %>
 <% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Onaka</th>
      <th>Kigen</th>
      <th>Image</th>
      <th>Pr</th>
      <th>Yobip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.onaka %></td>
        <td><%= dog.kigen %></td>
        <td><%= dog.image %></td>
        <td><%= dog.kaminoku %></td>
        <td><%= dog.pr %></td>
        <td><%= dog.yobip %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->

<br>
<%= link_to '一句読む', new_dog_path %>
