<p id="notice"><%= notice %></p>

<h1>今日のやよっち</h1>

<%= @time %>

 <div class = "room-show-image">
    
        <% if @time >= "00" and @time <= "05" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292691631_5289099191183561_5056513170435251074_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_ohc=1fglO3br-CcAX9sRPHG&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-ypzY6eMlDz_sAmaB_JDBx-Wfwifbor4Yi1yG_dKB94A&oe=62D7B085" , class:'fluffy' %>
          <p class="dogcom">寝てる</p>
        <% elsif @time = "06" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292869923_5289100537850093_6910501712646870992_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=103&ccb=1-7&_nc_sid=da31f3&_nc_ohc=vD6fmyYpYcQAX-TCtTx&_nc_ht=scontent.fkix2-2.fna&oh=00_AT9uw6iC6jqRfJUyBRA_v3knXGhDIV0Rs580DcquvFCc0w&oe=62D5E750" , class:'fluffy' %>
          <p class="dogcom">寝てる</p>
        <% elsif @time = "07" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292819204_5289100544516759_6053057834894433265_n.jpg?stp=c69.0.414.415a_cp1_dst-jpg_p552x414&_nc_cat=102&ccb=1-7&_nc_sid=da31f3&_nc_ohc=ygQlh6vJ0i4AX9K9JGD&_nc_ht=scontent.fkix2-2.fna&oh=00_AT83BgmhfhUSBVwcYbbIcDZpb3P4p_8IgDVAxprPa7FQGQ&oe=62D7AE30" , class:'fluffy' %>
           <p>おはよう</p>
        <% elsif @time = "08" %>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/292721951_5289100104516803_2290301538458427176_n.jpg?stp=c0.45.405.405a_cp1_dst-jpg_p180x540&_nc_cat=109&ccb=1-7&_nc_sid=da31f3&_nc_ohc=D7zre9jYKVgAX9Un6y3&_nc_ht=scontent.fkix2-1.fna&oh=00_AT8md0BhO-jaF_jlwrZqcbxGl6qjvb8rm1ppYRaQo7_NdA&oe=62D6B07A" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "09" %>
           <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/292690275_5289100434516770_4522125725118903905_n.jpg?stp=c69.0.414.415a_cp1_dst-jpg_p552x414&_nc_cat=111&ccb=1-7&_nc_sid=da31f3&_nc_ohc=v0SrNyk_SG4AX-OIlDb&_nc_ht=scontent.fkix2-1.fna&oh=00_AT-DXr16U5X1yEBrGZoCV4EEBu91byKcgkg5iADXNbZuig&oe=62D6FC93" , class:'fluffy' %>
           <p>４５まで</p>
        <% elsif @time = "10" %>
           <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/292882771_5289099854516828_6084991699917806140_n.jpg?stp=c0.122.1108.1108a_cp1_dst-jpg_s552x414&_nc_cat=104&ccb=1-7&_nc_sid=da31f3&_nc_ohc=oF1oqFFwIWEAX8AzCVb&_nc_ht=scontent.fkix2-1.fna&oh=00_AT9PjsLhGQ9mkjjHBfLukntsUaaPEwoNHeu8WElHynFdFg&oe=62D5F11B" , class:'fluffy' %>
       <% elsif @time = "11" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292491722_5289100411183439_4243039285587172538_n.jpg?stp=c0.45.405.405a_cp1_dst-jpg_p180x540&_nc_cat=110&ccb=1-7&_nc_sid=da31f3&_nc_ohc=Z1IfJ0BBPWwAX9Z5O0D&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-TJO-nd1xhvZdPIjoly-_fv7UYKJY74fFFEAY0xPEffA&oe=62D776EB" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "12" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292638071_5289099851183495_4155332831085812828_n.jpg?stp=c161.0.414.414a_cp1_dst-jpg_p552x414&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_ohc=dJFhce62SNkAX_evY6T&_nc_ht=scontent.fkix2-2.fna&oh=00_AT8f5xDkTRvFw3Rxy6RQ2Ps8wp3hI6LvRfSqsm-0Cjpz0w&oe=62D6B89B" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "13" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292719333_5289100077850139_6216013883917125114_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_ohc=w0fI280weoQAX-8ng_W&_nc_ht=scontent.fkix2-2.fna&oh=00_AT8eVGlc5cojwaRskuVuk-oHmvhLk1hC13FKJAOl28vong&oe=62D6CE18" , class:'fluffy' %>
         <% elsif @time = "14" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292790260_5289099737850173_6186234424915113529_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=110&ccb=1-7&_nc_sid=da31f3&_nc_ohc=qNVg12Wrd8kAX9n4oUY&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-BesFEuxE7YRzxHVyeeldihOfEwWFYM352c-lnU3Pmww&oe=62D5FC71" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "15" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292632276_5289099721183508_7894621820919200829_n.jpg?stp=c0.277.1080.1080a_cp1_dst-jpg_s552x414&_nc_cat=107&ccb=1-7&_nc_sid=da31f3&_nc_ohc=2ikG99w_V3QAX_OWkZb&_nc_ht=scontent.fkix2-2.fna&oh=00_AT_y-z0x4NP6KxAe4ojl1eQ5yuR5vwZvExfX5gmV17It9w&oe=62D79E4B" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "16" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292700774_5289099637850183_1266518826835953426_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=100&ccb=1-7&_nc_sid=da31f3&_nc_ohc=sv7UkoGxvOgAX-9Eb0V&_nc_ht=scontent.fkix2-2.fna&oh=00_AT8k5akX_ZUIRkL3Inlov7v2f8fQK3Hwlu4FzZxWoe30ng&oe=62D61D72" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "17" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292890992_5289099604516853_5457164796538070043_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=110&ccb=1-7&_nc_sid=da31f3&_nc_ohc=U8etLUoWvOsAX-fi1TD&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent.fkix2-2.fna&oh=00_AT8ONFQmuRyWRvpl4qoARGIcfQd3jizmUX6551A24aa6Ww&oe=62D64818" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "18" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292779654_5289099497850197_941184396425252107_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_ohc=AWaoTwNy6dQAX9ICvb7&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-lLR7au2G-dWX-1bfJpWzRbe94eACIXf3j85q7FZVVOw&oe=62D69177" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "19" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292685908_5289099511183529_6665102384110971595_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=100&ccb=1-7&_nc_sid=da31f3&_nc_ohc=-R0PczkXhaEAX-XLiJU&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent.fkix2-2.fna&oh=00_AT_niJ4yEBXRtcpkWB3OZTGAwto84ngKnSTCXFLlP5Y3uA&oe=62D6AC5E" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "20" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292799703_5289099404516873_7034056433683024732_n.jpg?stp=c161.0.414.414a_cp1_dst-jpg_p552x414&_nc_cat=107&ccb=1-7&_nc_sid=da31f3&_nc_ohc=U5CJ_5h0krAAX-8CNcq&_nc_ht=scontent.fkix2-2.fna&oh=00_AT9-o697KbXPEr-4quTsO4Zun7ZhMy_IX5pWmvQcixJ3eA&oe=62D5E936" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time = "21" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292630512_5289099291183551_8472993088532733375_n.jpg?stp=c69.0.414.415a_cp1_dst-jpg_p552x414&_nc_cat=107&ccb=1-7&_nc_sid=da31f3&_nc_ohc=Zm7gal3VWXQAX8Z0BFk&_nc_ht=scontent.fkix2-2.fna&oh=00_AT8fVkZHsYWhrhwLi6bd3tx0_V_tZJyMu88wAJxkgXu-6Q&oe=62D6E054" , class:'fluffy' %>
          <p>４５まで</p>
        <% elsif @time >= "22" and @time <= "24" %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292691631_5289099191183561_5056513170435251074_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=108&ccb=1-7&_nc_sid=da31f3&_nc_ohc=1fglO3br-CcAX9sRPHG&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-ypzY6eMlDz_sAmaB_JDBx-Wfwifbor4Yi1yG_dKB94A&oe=62D7B085" , class:'fluffy' %>
           <p>寝てる</p>
        <% else %>         
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/292736506_5289099277850219_886204498922536459_n.jpg?stp=c0.277.1080.1080a_dst-jpg_s552x414&_nc_cat=100&ccb=1-7&_nc_sid=da31f3&_nc_ohc=jQta8aDbtpMAX99iwsU&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-eOrpSnWOGbbTKkfgnNbQXGFIamShgSgHkisXfyysa6A&oe=62D6DE38" , class:'fluffy' %>
          <p>それ以外</p>
        <% end %>      
</div>
 

<!--<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Onaka</th>
      <th>Kigen</th>
      <th>Image</th>
      <th>Pr</th>
      <th>Yobip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.onaka %></td>
        <td><%= dog.kigen %></td>
        <td><%= dog.image %></td>
        <td><%= dog.pr %></td>
        <td><%= dog.yobip %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>-->
