<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Onaka:</strong>
  <%= @dog.onaka %>
</p>

<p>
  <strong>Kigen:</strong>
  <%= @dog.kigen %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dog.image %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @dog.pr %>
</p>

<p>
  <strong>Yobip:</strong>
  <%= @dog.yobip %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
