<%= form_with(model: cook) do |form| %>
  <% if cook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cook.errors.count, "error") %> prohibited this cook from being saved:</h2>

      <ul>
        <% cook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "保存" %>
  </div>

  <div class="field">
    <%= form.label :メニュー名（必須） %>
   <br> 
    <%= form.text_field :cookname %>
  </div>

  <div class="field">
    <%= form.label :予定（必須） %>
     <br> 
    <%= form.select :standby,[ ["未定", "未定"],["準備OK", "準備OK"], ["済み", "済み"]], include_blank: "選択して下さい"  %>
  </div>

   <div class="field">
        <%= form.label :写真 %><br>
         <br> 
        <%= form.file_field :image %>
    </div>

  <div class="field">
    <%= form.label :URL %>
     <br> 
    <%= form.text_field :cookurl %>
  </div>

  <div class="field">
    <%= form.label :メモ（材料など） %>
     <br> 
    <%= form.text_area :pr %>
  </div>

  <div class="field">
    <%= form.label :コスパ %>
     <br> 
    <%= form.select :cost,[ ["", ""],["安上がり", "安上がり"], ["簡単", "簡単"], ["豪華", "豪華"], ["手の込んだ", "手の込んだ"], ["作り置き可", "作り置き可"]], include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :お気に入り %>
     <br> 
    <%= form.select :recom,[ ["", ""],["みったんお気に入り", "みったんお気に入り"], ["まちお気に入り", "まちお気に入り"], ["2人共お気に入り", "2人共お気に入り"]], include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :作成日 %>
     <br> 
    <%= form.date_select :cookingday %>
  </div>

  <div class="field">
    <%= form.label :ポイント %>
     <br> 
    <%= form.number_field :point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
