<div class="container-area">
  <div class="container-box">
<h1>検索結果</h1>

    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=未定&commit=検索" do %>
            <p>未定</p>
        <% end %>
    </div>
    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=準備OK&commit=検索" do %>
            <p>準備OK</p>
        <% end %>
    </div>
    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=済み&commit=検索" do %>
            <p>済み</p>
        <% end %>
    </div>
    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=安上がり&commit=検索" do %>
            <p>安上がり</p>
        <% end %>
    </div>
    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=簡単&commit=検索" do %>
            <p>簡単</p>
        <% end %>
    </div>
     <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=豪華&commit=検索" do %>
            <p>豪華</p>
        <% end %>
    </div>
    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=手の込んだ&commit=検索" do %>
            <p>手の込んだ</p>
        <% end %>
    </div>
    <div class = "area-box">
        <%= link_to "/cooks/search?q%5Bdogrun_recom=作り置き可&commit=検索" do %>
            <p>作り置き可</p>
        <% end %>
    </div>

<div class="index-area-box">
      <div class="index-area-box">
        <table>
          <tbody>
              <div class="dogrun-index-list">
                <% @results.each do |cook| %>
                  <%= link_to cook_path(cook) do %>
                      <tbody>  
                          <tr id="dogrun_<%= cook.id %>">
                             <% if cook.image.attached? %>
                                <%= image_tag cook.image ,class: 'cook-image' %>
                              <% else %>
                                <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
                              <% end %>                  
                                <td class='dogrun-index-name'>
                                    <%= link_to cook_path(cook) do%>
                                        <%= cook.cookname %>
                                    <% end %>
                                </td>
                                <td><%= cook.pr %></td>
                                <td><%= cook.standby %></td>
                                <td><%= cook.cost %></td>
                                <td><%= cook.recom %></td>
                                <td><%= cook.cookingday %></td>
                                <td><%= cook.point %></td>
                            
                          </tr>
                      </tbody>
                  <% end %>
                <% end %>
              <div>
            
          </tbody>
        </table>
      </div>
    </div>    
    <br>
</div>
</div>
