<div class="container-area">
    <div class="container-box">
        <h1>検索結果</h1>
        <br>
        <h6>他のおすすめを見る</h6>

        <div class = "recom_box">
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=未定&commit=検索" do %>
                <%= image_tag '' ,class: 'button-image'%>
                    <p>未定</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=準備OK&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>準備OK</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=済み&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>済み</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=安上がり&commit=安上がり" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>コスパ</p>
                <% end %>
            </div>
        </div>
        <div class = "recom_box">
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=簡単&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>簡単</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=豪華&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>豪華</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=手の込んだ&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>手込み</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=作り置き可&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>作置き</p>
                <% end %>
            </div>
            <div class = "area-box">
                <%= link_to "/cooks/search?q%5Bcookname_or_pr_or_cost_or_recom_or_cookingday_or_standby_cont%5D=作り置き可&commit=検索" do %>
                    <%= image_tag '' ,class: 'button-image'%>
                    <p>2人推し</p>
                <% end %>
            </div>
        </div>
        <!--ここまでOK-->

         <div class="index-comment-area">
            <% @results.each do |cook| %>
            
                    <h1><%= cook.cookname %></h1>
                   
                <% end %>
                <div class = "boxbr">
                </div>

            </div>
        <br>
        <%= link_to 'メニューを追加する', new_cook_path %>

    </div>
</div>
