<h1>検索結果</h1>

<div class="index-area-box">
      <div class="index-area-box">
        <table>
          <tbody>
              <div class="dogrun-index-list">
                <% @results.each do |cook| %>
                  <%= link_to cook_path(cook) do %>
                      <tbody>  
                          <tr id="dogrun_<%= cook.id %>">
                             <% if cook.image.attached? %>
                                <%= image_tag cook.image ,class: 'cook-image' %>
                              <% else %>
                                <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
                              <% end %>                  
                                <td class='dogrun-index-name'>
                                    <%= link_to cook_path(cook) do%>
                                        <%= cook.cookname %>
                                    <% end %>
                                </td>
                                <td><%= cook.pr %></td>
                                <td><%= cook.standby %></td>
                                <td><%= cook.cost %></td>
                                <td><%= cook.recom %></td>
                                <td><%= cook.cookingday %></td>
                                <td><%= cook.point %></td>
                            
                          </tr>
                      </tbody>
                  <% end %>
                <% end %>
              <div>
            
          </tbody>
        </table>
      </div>
    </div>    
    <br>
