<p id="notice"><%= notice %></p>

<p>
  <strong>Cookname:</strong>
  <%= @cook.cookname %>
</p>

<p>
  <strong>Cookurl:</strong>
  <%= @cook.cookurl %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cook.image %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @cook.pr %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @cook.cost %>
</p>

<p>
  <strong>Recom:</strong>
  <%= @cook.recom %>
</p>

<p>
  <strong>Cookingday:</strong>
  <%= @cook.cookingday %>
</p>

<p>
  <strong>Point:</strong>
  <%= @cook.point %>
</p>

<p>
  <strong>Standby:</strong>
  <%= @cook.standby %>
</p>

<%= link_to 'Edit', edit_cook_path(@cook) %> |
<%= link_to 'Back', cooks_path %>
