<div class="container-area">
  <div class="container-box">
<p id="notice"><%= notice %></p>

<div class = "show-box">
<h1>
  <%= @cook.cookname %>
</h1>

<p>
  <h4>レシピURL:</h4>
  <%= Rinku.auto_link(@cook.cookurl, :all, 'target="_blank"').html_safe %>
</p>

<% if @cook.image.attached? %>
    <%= image_tag @cook.image ,class: 'cook-show-image' %>
<% else %>
    <%= image_tag 'no-image.user.png' ,class: 'cook-show-image'%>
<% end %>
<table>
<tr>
<p>
  <th><strong>コスパ</strong></th>
  <td><%= @cook.cost %></td>
</p>
</tr>
<tr>
<p>
  <th><strong>推し！</strong></th>
  <td><%= @cook.recom %></td>
</p>
</tr>
<tr>
<p>
  <th><strong>いつ？</strong></th>
  <td><%= @cook.date.to_s(:datetime_jp) %></td>
</p>
</tr>

<!--<p>
  <strong>Point:</strong>
  <%= @cook.point %>
</p>-->

<tr>
<p>
  <th><strong>準備:</strong></th>
  <td><%= @cook.standby %></td>
</p>
</tr>
<div class= "nothing"></div>
<tr>
<p>
  <th><strong>memo!:</strong></th>
  <td><%= @cook.pr %></td>
</p>
</table>

<p class= "edit_delete"><%= link_to '編集する', edit_cook_path(@cook) %> |
<%= link_to '削除', @cook, method: :delete, data: { confirm: '本当に削除しますか?' } %>|
<%= link_to '一覧に戻る', cooks_path %></p>
</div>
</div>
</div>
