<div class="container-area">
  <div class="container-box">

    <h1>本日の</h1>
    <h1>おすすめ３選！!</h1>
    <div class="index-comment-area">
    <div class="index-comment-box">
      <div class = "boxbr">
      </div>
        <!--左近次-->
        <!--<div class="index-comment-area">-->
              <div class = "commentleft">
              <% @rnd.each do |family| %>
                <%= image_tag family.image ,class: 'family-image' %>
                <p class="family" class = "standby"><%= family.family_name %><span class="tyan">ちゃんの<br>本日の</span>一押し！</p>
              <% end %>
              </div>
       
                <!--コメント-->
    <!--<div class="index-comment-area">-->
          <div class = "commentright">
            <% @rnddg.each do |dogrun| %>
            <br>
            <div class="fukidashi">
            <br>
              <h1 class = "sankaku">▼</h1>
              <p class = "comment_voice"><%= dogrun.dogrun_name %></p>
              <br>
            </div>
          </div>
        <% end %>
    </div>

<!--<div class="index-comment-area">-->
   <% @random.each do |cook| %>
    <div class="index-comment-box">
      <div class = "boxbr">
        </div>
      <div class = "boxleft">
          <% if cook.image.attached? %>
            <%= image_tag cook.image ,class: 'cook-image' %>
          <% else %>
            <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
          <% end %>
          <p class = "standby"><%= cook.standby %></p>
        </div>
        <div class = "boxright">
            <h3><%= cook.cookname %></h3>
            <p class = "url"><%= Rinku.auto_link(cook.cookurl, :all, 'target="_blank"').html_safe %></p>
            <p><%= link_to '詳細', cook %>
            <%= link_to '編集', edit_cook_path(cook) %>
            <%= link_to '削除', cook, method: :delete, data: { confirm: '本当に削除しますか?' } %></p>
            <br>
         </div>
         </div>
          <% end %>
          <!--行変えるため-->
        <div class = "boxbr">
        </div>

</div>

<br>
<%= link_to 'メニューを追加する', new_cook_path %>
  </div>
  </div>

