<div class="container-area">
  <div class="container-box">


<h1>本日の</h1>
<h1>おすすめ３選！</h1>

    <!---->
    <div class="index-comment-area">
   <% @rnd.each do |family| %>

    <div class="index-comment-box">
      <div class = "boxbr">
        </div>
      <div class = "boxleft">
            <% image_tag family.image ,class: 'cook-image' %>
          <p class = "standby"><% family.family_name %></p>
        </div>

          <% end %>
          <!--行変えるため-->
        <div class = "boxbr">
        </div>

</div>
    <!---->

<div class="index-comment-area">
   <% @random.each do |cook| %>





    <div class="index-comment-box">
      <div class = "boxbr">
        </div>
      <div class = "boxleft">
          <% if cook.image.attached? %>
            <%= image_tag cook.image ,class: 'cook-image' %>
          <% else %>
            <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
          <% end %>
          <p class = "standby"><%= cook.standby %></p>
        </div>
        <div class = "boxright">
            <h3><%= cook.cookname %></h3>
            <p class = "url"><%= Rinku.auto_link(cook.cookurl, :all, 'target="_blank"').html_safe %></p>
            <p><%= link_to '詳細', cook %>
            <%= link_to '編集', edit_cook_path(cook) %>
            <%= link_to '削除', cook, method: :delete, data: { confirm: '本当に削除しますか?' } %></p>
            <br>
         </div>
         </div>
          <% end %>
          <!--行変えるため-->
        <div class = "boxbr">
        </div>

</div>

<br>
<%= link_to 'メニューを追加する', new_cook_path %>
  </div>
  </div>

