<p id="notice"><%= notice %></p>

<p>
  <strong>Kami:</strong>
  <%= @apple.kami %>
</p>

<p>
  <strong>Naka:</strong>
  <%= @apple.naka %>
</p>

<p>
  <strong>Simo:</strong>
  <%= @apple.simo %>
</p>

<%= link_to 'Edit', edit_apple_path(@apple) %> |
<%= link_to 'Back', apples_path %>
