<%= form_with(model: family) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> familyは保存できませんでした。</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
        <%= form.label :写真 %><br>
         <br> 
        <%= form.file_field :image %>
    </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :family_pr %>
  </div>

  <div class="actions">
    <%= form.submit "保存する"%>
  </div>
<% end %>
