<h1>Family編集</h1>
<br>
<h6>最新ポイント</h6>

   <div class="index-comment-area">
      <div class="index-comment-box">
        <table>  
          <tbody>
           
              <div>
                <% @scores.each do |score| %>
                  <tr>
                    <td><%= score.family.family_name %>:</td>
                    <td><%= score.score %>p:</td>
                    <td ><%= score.comment %></td>
                  </tr>
                <% end %>
              </div>
          </tbody>
        </table>
      </div>
      <br>

<%= render 'form', family: @family %>

<%= link_to 'Show', @family %> |
<%= link_to 'Back', families_path %>
