<p id="notice"><%= notice %></p>

<h1>良い子ポイント<br>ランキング</h1>
<!---->
<h1>投稿一覧</h1>
<h6>最新ポイント動向</h6>
    <div class="index-comment-area">
      <div class="index-comment-box">
        <table>  
          <tbody crass = "rankup2">
            <% if @scores.empty? %>
              <br>
              <tr>
                <h5>現在、コメントはありません。</h5>
              </tr>
            <% else %>
              <div>
                <% @scores.each do |score| %>
                  <tr>
                    <td><%= score.family.family_name %>:</td>
                    <td><%= score.score %>p:</td>
                    <td><%= score.comment %></td>
                  </tr>
                <% end %>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>


<!---->


<table class = "rankpoint1">

  <tbody>
    <% @families1.each  do |family| %>
     <tbody class = "rankup">
      <tr>
        <td><span id = "rank">1位</span></td>
        <% if family.image.attached? %>
        <td><%= image_tag family.image ,class: 'cook-image' %></td>
        <% else %>
        <% end %>
        <td><span id = "rankname"><%= family.family_name %></span></td>
        <td><%= family.id %></td>
        <td><%= family.point %><span class = "point_moji">point</span></td>
        <td><%= link_to '詳細', family %></td>
        <td><%= link_to '編集', edit_family_path(family) %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<table>

<!--2-->

<table class = "rankpoint2">

  <tbody>
    <% @families2.each  do |family| %>
     <tbody class = "rankup">
      <tr>
         <td><span id = "rank">2位</span></td>
        <% if family.image.attached? %>
        <td><%= image_tag family.image ,class: 'cook-image' %></td>
        <% else %>
        <% end %>
        <td><span id = "rankname"><%= family.family_name %></span></td>
        <td><%= family.id %></td>
        <td><%= family.point %><span class = "point_moji">point</span></td>
        <td><%= link_to '詳細', family %></td>
        <td><%= link_to '編集', edit_family_path(family) %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<!--3-->
<table class = "rankpoint3">

  <tbody>
    <% @families3.each  do |family| %>
     <tbody class = "rankup">
      <tr>
        <td><span id = "rank">3位</span></td>
        <% if family.image.attached? %>
        <td><%= image_tag family.image ,class: 'cook-image' %></td>
        <% else %>
        <% end %>
        <td><span id = "rankname"><%= family.family_name %></span></td>
        <td><%= family.id %></td>
        <td><%= family.point %><span class = "point_moji">point</span></td>
        <td><%= link_to '詳細', family %></td>
        <td><%= link_to '編集', edit_family_path(family) %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<!---->
<table>
  <tbody>
        <% p = 4 %>
    <% @families.each  do |family| %>
     <tbody class = "rankup">
      <tr>
        <td><span id = "rank"><%= p %>位</span></td>
        <% if family.image.attached? %>
        <td><%= image_tag family.image ,class: 'cook-image' %></td>
        <% else %>
        <% end %>
        <td><span id = "rankname"><%= family.family_name %></span></td>
        <td><%= family.id %></td>
        <td><%= family.point %><span class = "point_moji">point</span></td>
        <td><%= link_to '詳細', family %></td>
        <td><%= link_to '編集', edit_family_path(family) %></td>
        <% p += 1%>
      </tr>
    </tbody>
  <% end %>
</table>

<br>

<%= link_to 'Familyを追加する', new_family_path %>
