<p id="notice"><%= notice %></p>

<h1>良い子ポイント<br>ランキング</h1>
<!---->
<h1>投稿一覧</h1>
<h6>最新ポイント動向</h6>
    <div class="index-comment-area">
      <div class="index-comment-box">
        <table>  
          <tbody crass = "rankup2">
            <% if @scores.empty? %>
              <br>
              <tr>
                <h5>現在、コメントはありません。</h5>
              </tr>
            <% else %>
              <div>
                <% @scores.each do |score| %>
                  <tr>
                    <td><%= score.family.family_name %>:</td>
                    <td><%= score.score %>p:</td>
                    <td><%= score.comment %></td>
                  </tr>
                <% end %>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>


<!--１位-->
<%= render 'shared/familyimg' %>
<%= render 'shared/familyimg2' %>
<%= render 'shared/familyimg3' %>
<!--<table>-->

<!--2-->


<!---->
<table>
  <tbody>
        <% p = 4 %>
    <% @families.each  do |family| %>
     <tbody class = "rankup">
      <tr>
        <td><span id = "rank"><%= p %>位</span></td>

         <% if family.id == 1 %>
          <td><%= image_tag 'sako.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 2 %>
          <td><%= image_tag 'yayo.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id== 3 %>
          <td><%= image_tag 'kanna.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 4 %>
          <td><%= image_tag 'aka.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 5 %>
          <td><%= image_tag 'daiji.jpg'  ,class: 'cook-image'%></td>
        <% elsif family.id== 6 %>
          <td><%= image_tag 'all.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 7 %>
          <td><%= image_tag 'akita.jpg'  ,class: 'cook-image'%></td>
        <% elsif family.id == 8 %>
          <td><%= image_tag 'nana.jpg'  ,class: 'cook-image'%></td>
        <% else %>
            <% if family.image.attached? %>
                <td><%= image_tag family.image ,class: 'cook-image' %></td>
            <% else %>
                <td><%= image_tag "no-image.user.png" ,class: 'cook-image' %></td>
            <% end %>
        <% end %>
        <td><span id = "rankname"><%= family.family_name %></span></td>
        <td><%= family.id %><span class = "point_moji">id</span></td>
        <td><%= family.point %><span class = "point_moji">point</span></td>
        <td><%= link_to '詳細', family %></td>
        <td><%= link_to '編集', edit_family_path(family) %></td>
        <% p += 1%>
      </tr>
    </tbody>
  <% end %>
</table>

<br>

<%= link_to 'Familyを追加する', new_family_path %>
