<table class = "rankpoint2">
  <tbody>
    <% @families2.each  do |family| %>
     <tbody class = "rankup">
      <tr>
        <td><span id = "rank">2位</span></td>

        
         <% if family.id == 1 %>
          <td><%= image_tag 'sako.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 2 %>
          <td><%= image_tag 'yayo.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id== 3 %>
          <td><%= image_tag 'kanna.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 4 %>
          <td><%= image_tag 'aka.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 5 %>
          <td><%= image_tag 'daiji.jpg'  ,class: 'cook-image'%></td>
        <% elsif family.id== 6 %>
          <td><%= image_tag 'all.jpg' ,class: 'cook-image' %></td>
        <% elsif family.id == 7 %>
          <td><%= image_tag 'akita.jpg'  ,class: 'cook-image'%></td>
        <% elsif family.id == 8 %>
          <td><%= image_tag 'nana.jpg'  ,class: 'cook-image'%></td>
        <% else %>
            <% if family.image.attached? %>
                <td><%= image_tag family.image ,class: 'cook-image' %></td>
            <% else %>
                <td><%= image_tag "no-image.user.png" ,class: 'cook-image' %></td>
            <% end %>
        <% end %>

        <td><span id = "rankname"><%= family.family_name %></span></td>
        <td><%= family.id %><span class = "point_moji">id</span></td>
        <td><%= family.point %><span class = "point_moji">point</span></td>
        <td><%= link_to '詳細', family %></td>
        <td><%= link_to '編集', edit_family_path(family) %></td>
      </tr>
    </tbody>
  <% end %>
</table>
