<div class="container-area">
  <div class="container-box">

<div class= "header">
     <%= link_to cooks_path do %>
            <%= image_tag 'ロゴ.jpg' ,class: 'logo-image'%>
        <% end %>
        <br>
    <div id="header-search-box" >
      <%= search_form_for @q, url: search_cooks_path do |f| %>   
        <%= f.search_field :cookname_or_pr_or_cost_cont ,placeholder: "フリー検索",class:'search_field' %>
        <%= f.submit '検索',class:'search_submit' %>
      <% end %>
      <!--<%= link_to 'メニュー追加', new_cook_path %>-->
      <!--<%= link_to 'メニュー一覧', cooks_path %>-->
     <!-- <%= link_to '検索結果', search_cooks_path %>-->
      <!--<%= link_to 'topページ', top_cooks_path %>-->
    </div>
    <br>
   
</div>
</div>
</div>
