<div class="index-comment-area">
    <% @results.each do |cook| %>
  
    <div class="index-comment-box">
      <div class = "boxbr">
        </div>
      <div class = "boxleft">
<!--facebookから持ってくるゾーン-->
  <div class="imagezone">
      
          <!--<% if cook.image.attached? %>
            <%= image_tag cook.image ,class: 'cook-image' %>
          <% else %>
            <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
          <% end %>-->
          

     <!--ここからローカルimage-->   
     <!--<div class="10から20">-->
      <% if (cook.id >= 10) and (cook.id <= 20)  %>
        <% if cook.id == 10 %>
          <%= image_tag "" , class:'cook-image'  %>
        <% elsif cook.id == 11%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/a3/7d/j/o0960071815155110315.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 12%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/c1/2f/j/o1280095815155110389.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 13%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/b2/5c/j/o1280095815155110394.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 14%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/45/88/j/o1280095815155110414.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 15%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/b2/0a/j/o0960128015155110440.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 16%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/64/e3/j/o1280096015155110474.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 17%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/fa/3a/j/o1108147815155110501.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 18%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/55/ea/j/o1108147815155110514.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 19%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/ee/50/j/o1108147815155110519.jpg?caw=800" , class:'cook-image'  %>
        <% elsif cook.id == 20%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/ae/82/j/o0640048015155110528.jpg?caw=800" , class:'cook-image'  %>
        <% else %>
          <%= image_tag "no-image.user.png" , class:'cook-image' %>
        <% end %>

       <% elsif (cook.id >= 21) and (cook.id <= 30)  %>
          <% if cook.id == 21 %>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/9f/6c/j/o0673045515155115158.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 22%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/4f/3a/j/o1280095815155115180.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 23%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/89/f5/j/o0640048015155115202.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 24%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/20/5d/j/o1280095815155115276.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 25%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/e2/e6/j/o0776075215155115283.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 26%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/11/f2/j/o1280096015155115292.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 27%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/e0/20/j/o0828079515155115308.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 28%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/09/d5/j/o0828063315155115329.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 29%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/8f/2d/j/o0828068315155115338.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 30%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/f7/d8/j/o0828061415155115351.jpg?caw=800" , class:'cook-image'  %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 31) and (cook.id <= 40)  %>
          <% if cook.id == 31 %>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/73/cc/j/o0828069215155118258.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 32%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/ca/9c/j/o0828070415155118270.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 33%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/7f/40/j/o1280095815155118304.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 34%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/a0/32/j/o0828079815155118314.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 35%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/b7/16/j/o0828062615155118319.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 36%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/17/06/j/o0828062515155118326.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 37%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/db/6e/j/o1280095815155118334.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 38%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/80/7e/j/o0828072015155118341.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 39%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/9c/78/j/o0828068815155118348.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 40%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/e6/e1/j/o0828078915155118359.jpg?caw=800" , class:'cook-image'  %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 41) and (cook.id <= 50)  %>
          <% if cook.id == 41 %>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/c4/7b/j/o2048153615155120602.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 42%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/cd/55/j/o0828069515155120605.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 43%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/51/ff/j/o0807064715155120607.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 44%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/5b/da/j/o0828064215155120608.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 45%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/cb/27/j/o0828068115155120610.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 46%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/36/a2/j/o0828119915155120612.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 47%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/17/a7/j/o0828064015155120613.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 48%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/5d/00/j/o0828065715155120614.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 49%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/c7/5d/j/o0828059515155120616.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 50%>
          <%= image_tag "https://stat.ameba.jp/user_images/20220802/15/umakichisan/6a/31/j/o0828077615155120617.jpg?caw=800" , class:'cook-image'  %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 51) and (cook.id <= 60)  %>
          <% if cook.id == 51 %>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/a5/ab/j/o0828076615151557500.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 52%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/34/ea/j/o0828079615151557506.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id ==53%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/f9/02/j/o0828076815151557513.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 54%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/3e/73/j/o0828071215151557512.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 55%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 56%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/19/bb/j/o0828115115151557499.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 57%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/e0/d4/j/o0828081415151557504.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 58%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/e9/7a/j/o0828079615151557575.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 59%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/5a/aa/j/o0828080315151557580.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 60%>
            <%= image_tag "" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 61) and (cook.id <= 70)  %>
          <% if cook.id == 61 %>
            <%= image_tag "https://stat.ameba.jp/user_images/20220728/13/umakichisan/94/11/j/o1478110815152792792.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 62%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220728/13/umakichisan/3a/1a/j/o1478110815152792790.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 63%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/d7/2c/j/o1478110815155100400.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 64%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/5b/64/j/o1478110815155099894.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 65%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/c9/27/j/o1108147815155100332.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 66%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/22/ff/j/o0750072815155099935.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 67%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220728/13/umakichisan/94/11/j/o1478110815152792792.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 68%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/e9/5d/j/o0750073115155099931.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 69%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/ab/09/j/o0750072315155100442.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 70%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220802/14/umakichisan/0d/a0/j/o0750072315155100583.jpg?caw=800" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 71) and (cook.id <= 80)  %>
          <% if cook.id == 71 %>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/b0/90/j/o0750075015158048051.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 72%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/f5/57/j/o0750075015158048681.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 73%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/df/b5/j/o0473047315158048731.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 74%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/94/39/j/o0750075015158048721.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 75%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/69/6c/j/o0750075015158048060.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 76%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/41/0b/j/o0750075015158048053.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 77%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/4e/91/j/o0750075015158048055.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 78%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/8d/a0/j/o0750075015158048056.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 79%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220809/05/umakichisan/b1/b5/j/o0750075015158048059.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 80%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220814/16/umakichisan/4d/32/j/o0491049115160543493.jpg?caw=800" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

          <% elsif (cook.id >= 81) and (cook.id <= 90)  %>
          <% if cook.id == 81 %>
            <%= image_tag "https://stat.ameba.jp/user_images/20220814/16/umakichisan/2a/dc/j/o0557055715160543573.jpg?caw=800" , class:'cook-image' %>
           <% elsif cook.id == 82%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220814/16/umakichisan/6e/e0/j/o0517051715160543612.jpg?caw=800" , class:'cook-image' %>
           <% elsif cook.id == 83%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220814/16/umakichisan/f0/0e/j/o0750075015160543651.jpg?caw=800" , class:'cook-image' %>
           <% elsif cook.id == 84%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220814/16/umakichisan/c6/36/j/o0750075015160543686.jpg?caw=800" , class:'cook-image' %>
           <% elsif cook.id == 85%>
            <%= image_tag "" , class:'cook-image' %>
           <% elsif cook.id == 86%>
            <%= image_tag "" , class:'cook-image' %>
           <% elsif cook.id == 87%>
            <%= image_tag "" , class:'cook-image' %>
           <% elsif cook.id == 88%>
            <%= image_tag "" , class:'cook-image' %>
           <% elsif cook.id == 89%>
            <%= image_tag "" , class:'cook-image' %>
           <% elsif cook.id == 90%>
            <%= image_tag "" , class:'cook-image' %>

          
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>
      <% else %>
         <% if cook.image.attached? %>
            <%= image_tag cook.image ,class: 'cook-image' %>
          <% else %>
            <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
          <% end %>
      <% end %>
      <p class = "standby"><%= cook.standby %></p>
     <!--ここまで>-->
  </div>
 <!--ここまで-->       
        </div>
        <div class = "boxright">
            <h3><%= cook.cookname %></h3>
            <p class = "url"><%= Rinku.auto_link(cook.cookurl, :all, 'target="_blank"').html_safe %></p>
            <p><%= cook.id %>
            <%= link_to '詳細', cook %>
            <%= link_to '編集', edit_cook_path(cook) %>
            <%= link_to '削除', cook, method: :delete, data: { confirm: '本当に削除しますか?' } %></p>
            <br>
         </div>
         </div>
          <% end %>
        <div class = "boxbr">
        </div>
    </div>

</div>
