<div class="index-comment-area">
    <% @results.each do |cook| %>
  
    <div class="index-comment-box">
      <div class = "boxbr">
        </div>
      <div class = "boxleft">
<!--facebookから持ってくるゾーン-->
  <div class="imagezone">
      
          <!--<% if cook.image.attached? %>
            <%= image_tag cook.image ,class: 'cook-image' %>
          <% else %>
            <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
          <% end %>-->
          

     <!--ここからローカルimage-->   
     <!--<div class="10から20">-->
      <% if (cook.id >= 10) and (cook.id <= 20)  %>
        <% if cook.id == 10 %>
          <%= image_tag "" , class:'cook-image'  %>
        <% elsif cook.id == 11%>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/294762378_5298866523540161_1821385091191174991_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=zZ3NAqi9VLkAX-qCQSh&_nc_ht=scontent.fkix2-1.fna&oh=00_AT_-VXlituaNMxnLDNChTygePn26LuBzukDzJiZNtwXsqw&oe=62DA8BB9" , class:'cook-image' %>
        <% elsif cook.id == 12%>
          <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293592238_5298867483540065_119820296683627328_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=vHJGbwy0RssAX-r6B9q&_nc_oc=AQlRkRTUtn0glovVVbV5r_8BYaSpcYbR6cXDJ0mOwnO_mUMyQZ00NPdAwvhyUqwTnGONXFptkjV2U2zgN7ii4UCy&_nc_ht=scontent.fkix2-1.fna&oh=00_AT8RC9YoLZEJs7HzlJMl0O-oTO-H1jC-2eCG7pgLwFLXGg&oe=62DAE92A" , class:'cook-image' %>
        <% elsif cook.id == 13%>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293656621_5298867090206771_7134299173734048415_n.jpg?stp=cp1_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=pyQb5nlpJwMAX9t6kgS&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9uC1AOTCbZTV66t_WJ9HIMAY-nqJdm3uuowxH8e6P7CA&oe=62DB5853" , class:'cook-image' %>
        <% elsif cook.id == 14%>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293675238_5298867330206747_6891693503454568283_n.jpg?stp=cp1_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ED_bMFuM1_wAX-V6r23&_nc_ht=scontent-nrt1-1.xx&oh=00_AT877qK2ACanFBDjJzLHQlXVuZklxSPQJ_AZVm9wtUSIHA&oe=62DC2B8D" , class:'cook-image' %>
        <% elsif cook.id == 15%>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293596312_5298867566873390_5285004664421210866_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=JwMpPdOpHX0AX-HFwMC&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8ap-Vbab6wuYggDbud1yQcih5flP2NPskrRBpKAdsd5w&oe=62DB89AF" , class:'cook-image' %>
        <% elsif cook.id == 16%>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/293639377_5298867170206763_3437315325590174047_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=XJZ0w413WEUAX-qho5r&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent.fkix2-2.fna&oh=00_AT9xj7v3laQEW4Jpib-XfIlz53B1Qupw9lH3E1WpBG9EkQ&oe=62DAF52C" , class:'cook-image' %>
        <% elsif cook.id == 17%>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/293748359_5298867166873430_7416140414183231959_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=gLvepWG72NgAX_MnzF1&_nc_ht=scontent.fkix2-2.fna&oh=00_AT_dPba5ldEv59anH2MBdjwakNPIWTVd8-t7zyq2vgicZA&oe=62DA7048" , class:'cook-image' %>
        <% elsif cook.id == 18%>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293605293_5298867443540069_6054277976201521768_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=an49834OAi8AX-eh8g8&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_R3Ja6o1XmtzGn_8WJ-_Pa9KMHNcjDQdLIYrAmIP9Q2w&oe=62DB72B8" , class:'cook-image' %>
        <% elsif cook.id == 19%>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293488354_5298867343540079_9198127564135911057_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=yg-pPTzjESQAX9gi-y4&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_mgZq3TlHIVWpkRAmIf3awmRYyFkd7uaxu06CErTeYRQ&oe=62DA6C49" , class:'cook-image' %>
        <% elsif cook.id == 20%>
          <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294504933_5298866856873461_3053499077157327046_n.jpg?stp=cp1_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=BxeVLehJ3m8AX95hkxn&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-fSwd4IGqxP445m_GiHH_eX9fgHeQ5PNARqoWorTnvdA&oe=62DB2285" , class:'cook-image' %>
        <% else %>
          <%= image_tag "no-image.user.png" , class:'cook-image' %>
        <% end %>

       <% elsif (cook.id >= 21) and (cook.id <= 30)  %>
          <% if cook.id == 21 %>
          <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/294498661_5299059373520876_4789547046165466112_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=aAxhbLCbQ8AAX86FBac&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-_CBvaq2g4J2A5Iit-XJadC2GikDJMhSUTthb8BOWXGA&oe=62DBFF34" , class:'cook-image'  %>
          <% elsif cook.id == 22%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293636586_5299060030187477_853726269869518580_n.jpg?stp=cp1_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=CYViIKVJ6SMAX81OI9N&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_zgsbCUwr-e3xUmhrPCnm_tS445N6ZtVyab26JHyDeQA&oe=62DBCD2E" , class:'cook-image' %>
          <% elsif cook.id == 23%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294546426_5299059500187530_7347127928842909838_n.jpg?stp=cp1_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=_IaOUaydCgwAX_-nn8E&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9BQdIMq30Z-w3lyTAwedtmnulhqq9aaAGncBRsG3Xmbg&oe=62DA7711" , class:'cook-image' %>
          <% elsif cook.id == 24%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293584425_5299060190187461_4446645602755918764_n.jpg?stp=cp1_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=egLq3x4zdCwAX9HnfEZ&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-2aM6-gpD3TmT-_3zttYz1ZjrO5xJFFQnn9Y-owlRSwQ&oe=62DB065E" , class:'cook-image' %>
          <% elsif cook.id == 25%>
            <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/294288917_5299059563520857_4435341058462230724_n.jpg?stp=cp1_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=pCyEfLh3CqEAX-QCMHT&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-2SOUm9e5R3SOxHJzP3U_SB28zAASbshs7GMBddqe4Qw&oe=62DB05DB" , class:'cook-image' %>
          <% elsif cook.id == 26%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293605242_5299060023520811_4371105199701019213_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=-Qv6H-4GNvsAX8Iz42N&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_tLRG9U640rlA1OGzMSj8FYU8W92CJrJ0ubPFEl5s3ew&oe=62DB5DB0" , class:'cook-image' %>
          <% elsif cook.id == 27%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294464795_5299059806854166_4365770957682836083_n.jpg?stp=cp1_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=AkMq9tk97XoAX8L6gQM&_nc_ht=scontent-nrt1-1.xx&oh=00_AT95uJ3tXSTC84ZIA8jy26n4L59u1qZjuT_zd4Rr03QoGQ&oe=62DB5808" , class:'cook-image' %>
          <% elsif cook.id == 28%>
            <%= image_tag "https://scontent.fkix2-2.fna.fbcdn.net/v/t39.30808-6/294357573_5299059753520838_1026436476198187390_n.jpg?stp=cp1_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=nwaw7wRYaAMAX8PRjev&_nc_ht=scontent.fkix2-2.fna&oh=00_AT-Cr97Ydtrh_DeEqrPqRy9TR0CFa4qJfSygUTHLT_xxoQ&oe=62DAB5E4" , class:'cook-image' %>
          <% elsif cook.id == 29%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294784090_5299059523520861_5432324668928871559_n.jpg?stp=cp1_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=WCnOQQwRG38AX8XOduu&_nc_oc=AQlp-FFiu6YrsNwhad3zpGXOaWt4g3shtc4JZ6iaChIwg1v28A6i4EmoayWsfoCJ7YbdPP-KxKIO6k8ad7ebzgf_&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_YxmlkCWDOGP1ecSwNgrDZZ_8uyfoH0hAEL8P9XueYKA&oe=62DBAE13" , class:'cook-image' %>
          <% elsif cook.id == 30%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294764109_5299059650187515_3342873662423881245_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=-978aQQESN0AX8NhbBK&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8UkNtaW4-mQFNuSNtazRmw2xue_P6okOCCoLtAZ8nWsQ&oe=62DABCA0" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 31) and (cook.id <= 40)  %>
          <% if cook.id == 31 %>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294438667_5299072480186232_1675832330490307359_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=0FY87IQ2GwkAX-r5tmw&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9lOnas6-xtAZI62Lz51jFtWTAkiDKau8sAbbNRB-2_pg&oe=62DB1709" , class:'cook-image'  %>
          <% elsif cook.id == 32%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294448558_5299072703519543_2867218616408388018_n.jpg?stp=cp1_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=lurcAIoE5tcAX-c8f25&_nc_ht=scontent-nrt1-1.xx&oh=00_AT834wrfYoegxSfd5ZWYNE2r0XHr-G7DW_5V3igFOK2Igw&oe=62DBB56C" , class:'cook-image' %>
          <% elsif cook.id == 33%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293591719_5299073213519492_413597955464965238_n.jpg?stp=cp1_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=1T0cn5tyxlMAX-1bjpW&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9hxlL40tFA2qP8Rnp6sRIjd-eR_bk3MB1bZRwMjWQsrQ&oe=62DAE097" , class:'cook-image' %>
          <% elsif cook.id == 34%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294535922_5299072920186188_7533728517410124672_n.jpg?stp=cp1_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Olo1R20ekBIAX__dtzk&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_v-KjjqOoBmOmCZGrbaE-E8-Nzdv4seEUojwg-l9hwRg&oe=62DBA677" , class:'cook-image' %>
          <% elsif cook.id == 35%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294568299_5299072626852884_4544551179092728857_n.jpg?stp=cp1_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=XTqQkIYRNmkAX8B_8TD&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_cRneOU2T_IBwuR_KjQk2rZejSqfr-zBiPizvYQiDlLw&oe=62DC53A8" , class:'cook-image' %>
          <% elsif cook.id == 36%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294580222_5299072830186197_5673491656906364220_n.jpg?stp=cp1_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=NuwUn_FvE1EAX8cQcVv&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-O42cwzLG2pnGrf2s_V8idG7-WKJ0hI1sZ7KpGu9EbrQ&oe=62DAECA5" , class:'cook-image' %>
          <% elsif cook.id == 37%>
            <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/293586731_5299073236852823_6307978497197358112_n.jpg?stp=cp1_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=qTEI4LMI69EAX9Ys78t&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent.fkix2-1.fna&oh=00_AT9kaIo_GieG0wfbmAZJMGvieS07_UewXNJwNReL8-yXPw&oe=62DAF754" , class:'cook-image' %>
          <% elsif cook.id == 38%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294803995_5299072606852886_4728418703962573659_n.jpg?stp=cp1_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=6tHQ8XMQG0gAX9hk5xm&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-_av--EO3KHD21Z29HvaDmxpnrmx6n2eJHWF8VLAX6Gw&oe=62DAA002" , class:'cook-image' %>
          <% elsif cook.id == 39%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294380613_5299072500186230_340316246702757020_n.jpg?stp=cp1_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=raduE9Wd6RYAX_UrO_S&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-7NwWAQ77wJF-WAywNVWiqXP_5mtLaCfdeyyB_6WKB7g&oe=62DC2EC4" , class:'cook-image' %>
          <% elsif cook.id == 40%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294363074_5299072730186207_5669360978309172371_n.jpg?stp=cp1_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=DVWqhiHTeoAAX-5nUA2&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8UJZaUeQ2lc56ZjTYpZbgDofZCgoWCULVU8nEukd1vsw&oe=62DA8D22" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 41) and (cook.id <= 50)  %>
          <% if cook.id == 41 %>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293566764_5299085556851591_5607038509733990890_n.jpg?stp=cp1_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Qg1flqpyndsAX9Lq5iA&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-kdJv4kVmZyFd_1hRI0YcoIaXKWH4i99SPM5SCfdZV2w&oe=62DAEFD9" , class:'cook-image'  %>
          <% elsif cook.id == 42%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294435947_5299085170184963_4127426481506998661_n.jpg?stp=cp1_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=kGldp3bsgeQAX8s5Kgg&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9ksMOB0zo95qhMJ7vELEWHgzuT7sNWOhUMDkTMOw9Mog&oe=62DB289B" , class:'cook-image' %>
          <% elsif cook.id == 43%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294772601_5299084850184995_273423250098158370_n.jpg?stp=cp1_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=-SDhx2ChhKMAX98yVT7&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT96BRLK9YcuFEg7sg8uSV0OI3RTqV7Tq3VtdEQV5VDtCg&oe=62DAC6A7" , class:'cook-image' %>
          <% elsif cook.id == 44%>
            <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/294659152_5299084846851662_2549740359439958173_n.jpg?stp=cp1_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=L3kBp1048-YAX8e7oLA&_nc_ht=scontent.fkix2-1.fna&oh=00_AT9bIGDR-insMEt_1gZOjXCbxbWsCVG9HR84kZJGPx73ng&oe=62DC42AC" , class:'cook-image' %>
          <% elsif cook.id == 45%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294371265_5299085066851640_1585511027780303657_n.jpg?stp=cp1_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=9nW1lDr78PQAX8x6HUC&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_brnXhp9r4dsEuw17NzeDakYpREXnlwVcm3OTuE8e_nA&oe=62DBFFFF" , class:'cook-image' %>
          <% elsif cook.id == 46%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293582186_5299085506851596_4274158744552092742_n.jpg?stp=cp1_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=yFAHEt2sqq4AX8KyZbc&_nc_ht=scontent-nrt1-1.xx&oh=00_AT_k20m3WvJTJu9H-ku43MgmT_b-um3eU3BW8R3lQYMJtQ&oe=62DB1C69" , class:'cook-image' %>
          <% elsif cook.id == 47%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294585496_5299084963518317_1806882154621688428_n.jpg?stp=cp1_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=sYbDJXCEHzIAX_taURm&_nc_ht=scontent-nrt1-1.xx&oh=00_AT9c5Ly1Vw-qu5Hy96oRYtzAKdfGUUdp0I7rkVEvvBiQxg&oe=62DC3B8B" , class:'cook-image' %>
          <% elsif cook.id == 48%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294345295_5299084953518318_5352907317068357268_n.jpg?stp=cp1_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=54q_8q6xO9oAX_4hd2_&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8g-uQfCkTkFfh_ydgmNk54J78bKgyRbqfJMtpP6LXJnA&oe=62DBD802" , class:'cook-image' %>
          <% elsif cook.id == 49%>
            <%= image_tag "https://scontent.fkix2-1.fna.fbcdn.net/v/t39.30808-6/294767940_5299084710185009_1545617010204219890_n.jpg?stp=cp1_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=NZE_bJeUsoAAX9mwB8g&_nc_ht=scontent.fkix2-1.fna&oh=00_AT_BTtgLgFiwdKj-bR9hmKmA9bk3qPV3PQhyBfzwyO7qEQ&oe=62DB3368" , class:'cook-image' %>
          <% elsif cook.id == 50%>
            <%= image_tag "https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/294595263_5299085206851626_1635174366558608033_n.jpg?stp=cp1_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Wb-TMT9eSJcAX83gvLG&tn=6i6dnnQ2t_DniOg1&_nc_ht=scontent-nrt1-1.xx&oh=00_AT8TR0I4Xn081_Jp8ja2J97IWkz2KwwQfelWg8wUM3xyUQ&oe=62DC3910" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 51) and (cook.id <= 60)  %>
          <% if cook.id == 51 %>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/a5/ab/j/o0828076615151557500.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 52%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/34/ea/j/o0828079615151557506.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id ==53%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/f9/02/j/o0828076815151557513.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 54%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/3e/73/j/o0828071215151557512.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 55%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 56%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/19/bb/j/o0828115115151557499.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 57%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/e0/d4/j/o0828081415151557504.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 58%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/e9/7a/j/o0828079615151557575.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 59%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220725/16/umakichisan/5a/aa/j/o0828080315151557580.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 60%>
            <%= image_tag "" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 61) and (cook.id <= 70)  %>
          <% if cook.id == 61 %>
            <%= image_tag "https://stat.ameba.jp/user_images/20220728/13/umakichisan/94/11/j/o1478110815152792792.jpg?caw=800" , class:'cook-image'  %>
          <% elsif cook.id == 62%>
            <%= image_tag "https://stat.ameba.jp/user_images/20220728/13/umakichisan/3a/1a/j/o1478110815152792790.jpg?caw=800" , class:'cook-image' %>
          <% elsif cook.id == 63%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 64%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 65%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 66%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 67%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 68%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 69%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 70%>
            <%= image_tag "" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>

         <% elsif (cook.id >= 71) and (cook.id <= 80)  %>
          <% if cook.id == 71 %>
            <%= image_tag "" , class:'cook-image'  %>
          <% elsif cook.id == 72%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 73%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 74%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 75%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 76%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 77%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 78%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 79%>
            <%= image_tag "" , class:'cook-image' %>
          <% elsif cook.id == 70%>
            <%= image_tag "" , class:'cook-image' %>
          <% else %>
            <%= image_tag "no-image.user.png" , class:'cook-image'  %>
          <% end %>
      <% else %>
         <% if cook.image.attached? %>
            <%= image_tag cook.image ,class: 'cook-image' %>
          <% else %>
            <%= image_tag 'no-image.user.png' ,class: 'cook-image'%>
          <% end %>
      <% end %>
      <p class = "standby"><%= cook.standby %></p>
     <!--ここまで>-->
  </div>
 <!--ここまで-->       
        </div>
        <div class = "boxright">
            <h3><%= cook.cookname %></h3>
            <p class = "url"><%= Rinku.auto_link(cook.cookurl, :all, 'target="_blank"').html_safe %></p>
            <p><%= cook.id %>
            <%= link_to '詳細', cook %>
            <%= link_to '編集', edit_cook_path(cook) %>
            <%= link_to '削除', cook, method: :delete, data: { confirm: '本当に削除しますか?' } %></p>
            <br>
         </div>
         </div>
          <% end %>
        <div class = "boxbr">
        </div>
    </div>

</div>
